/* MovieList.css */
.movie-list {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .movie-list h2 {
    text-align: center; /* Center the title */
    margin: 20px 0; /* Add margin for spacing */
    color: #333;
  }
  
  .error-messages {
    color: red;
    margin-bottom: 20px;
    background-color: #ffe6e6;
    padding: 10px;
    border-radius: 5px;
  }
  
  .category-filter,
  .sort-order {
    margin-bottom: 20px;
  }
  
  .category-filter label,
  .sort-order label {
    font-weight: bold;
  }

  select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .movie-item {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .movie-item:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .movie-item h3 {
    margin: 0;
    color: #007bff;
  }
  
  .text {
    margin: 15px 0;
    color: #555;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .movie-details{
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
  }

  .collapsible {
    max-height: 0;
    overflow: hidden;
  }
  
  .collapsible.expanded {
    max-height: 250px;
    overflow-y: auto; 
  }
  
  button {
    margin: 10px 0;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .remaining-flight-duration{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .exceeding-movies{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }